.experience-cards {
  flex-direction: column !important;
  padding-right: 20px;
}

#experience {
  background-color: rgb(235, 235, 235);
}

#experience section {
  padding-bottom: 20px;
}

#experience header span {
  background-color: rgba(0, 119, 181, 1);
}

#experience header h2 {
  border-color: rgba(0, 119, 181, 1);
}

#experience header i {
  color: #222;
}

@media (min-width: 600px) {
  #experience section {
    padding-bottom: 40px;
  }
}

@media (min-width: 900px) {
  #experience section {
    padding-bottom: 60px;
  }

  .experience-cards {
    flex-direction: row !important;
    padding: 0;
  }
}
