.navigation {
  position: relative;
  background-color: rgba(0, 119, 181, 0.75);
  border-bottom: 2px solid rgba(34, 34, 34, 0.75);
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  max-width: 1000px;
  overflow: auto;
  text-align: center;
}

.navigation ul li {
  display: inline-block;
  padding: 0;
}

.navigation ul li a {
  display: block;
  padding: 10px;
  font-size: 1em;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s, background-color 0.5s;
}

.navigation ul li.active a {
  color: #222222;
  background-color: rgba(255, 255, 255, 0.75);
}

.navigation ul li:hover a {
  color: #222222;
  background-color: rgba(255, 255, 255, 0.75);
}

.navigation ul li span.highlight {
  border-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 599px) {
  #navigation-sticky.navigation {
    display: hidden;
    position: absolute;
    padding-right: 0;
    top: 39px;
  }

  #navigation-sticky.navigation ul li a {
    padding: 5px;
  }
}

@media (min-width: 600px) {
  #navigation-sticky.navigation {
    min-width: 100%;
    top: 49px;
  }

  #navigation-sticky.navigation ul li a {
    padding: 10px;
  }
}

@media (max-width: 774px) {
  .navigation {
    display: none;
  }

  #navigation-sticky.navigation ul li {
    width: 100%;
    padding: 0;
  }
  #navigation-sticky.navigation {
    padding-right: 0;
  }
}

/* tablets portrait */
@media (min-width: 775px) {
  .navigation ul li a {
    padding: 10px !important;
  }

  #navigation-sticky.navigation {
    top: 0;
  }

  .navigation ul li span.highlight {
    border-bottom: 2px solid rgb(191, 221, 239);
    padding-bottom: 5px;
  }
}

/* tablets landscape */
@media (min-width: 900px) {
  .navigation ul li a {
    padding: 15px !important;
    font-size: 1em;
    font-weight: bold;
  }
}

/* desktops */
@media (min-width: 1200px) {
  .navigation ul li a {
    padding: 20px !important;
  }
}
