header.section-header h2 {
  position: relative;
  font-size: 1em;
  border-bottom: 2px solid rgba(34, 34, 34, 0.75);
  margin: 10px;
}

header.section-header h2 span {
  color: #fff;
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 2px 2px 0 0;
  padding: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

header.section-header h2 span i {
  margin-right: 5px;
  color: #0077b5;
}

/* tablets portrait */
@media (min-width: 600px) {
  header.section-header h2 {
    font-size: 1.2em;
    margin: 20px 10px;
  }

  header.section-header h2 span {
    border-radius: 3px 3px 0 0;
    padding: 10px;
  }
}

/* tablets landscape */
@media (min-width: 900px) {
  header.section-header h2 {
    font-size: 1.35em;
    margin: 30px 10px 20px 10px;
  }

  header.section-header h2 span {
    border-radius: 4px 4px 0 0;
    padding: 15px;
  }
}

/* desktops */
@media (min-width: 1200px) {
  header.section-header h2 {
    font-size: 1.5em;
    margin: 40px 10px 20px 10px;
  }

  header.section-header h2 span {
    border-radius: 5px 5px 0 0;
    padding: 20px;
  }
}
