.slider-card-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 10px;
  border: 2px solid rgba(34, 34, 34, 0.75);
  border-radius: 5px;
  background-color: #fff;
  transition: border 0.5s;
}

.slider-card-wrapper:hover {
  border: 2px solid #0077b5;
}

.slider-card-wrapper ul {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  text-align: left;
  width: auto;

  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}

.slider-card-wrapper ul li {
  padding: 0;
}

.slider-card-wrapper h3 {
  margin: 0;
  background-color: rgba(34, 34, 34, 0.75);
  padding: 10px;
  color: #fff;
  transition: background-color 0.5s;
}

.slider-card-wrapper:hover h3  {
  background-color: #0077b5;
}

.slider-card-wrapper h4 {
  margin: 0;
}

.slider-card-wrapper h5 {
  border-top: 2px solid rgb(34, 34, 34, 0.75);
  margin-top: 15px;
  padding-top: 15px;
}

.slider-card {
  padding: 20px;
  overflow: auto;
}

.slider-card-label {
  width: 100%;
  position: absolute;
  bottom: -12px;
  left: 50%;
  display: block;
  text-align: center;
}

.slider-card-label span {
  position: relative;
  display: inline-block;
  left: -50%;
  padding: 2px 4px;
  font-size: 0.85em;
  border-radius: 2px;
  background-color: rgba(74, 74, 74);
  color: #fff;
  transition: background-color 0.5s;
}

.slider-card-wrapper:hover .slider-card-label span {
  background-color: #0077b5;
}

.slider-card-wrapper img {
  margin: 20px 0;
  margin-bottom: 0;
}

.slider-card-wrapper:last-child {
  margin-bottom: 0;
}

@media (max-width: 599px) {
  .slider-card-wrapper {
    margin-bottom: 30px;
  }
}

@media (min-width: 600px) {
  .slider-card-wrapper {
    margin-bottom: 40px;
  }

  .slider-card-wrapper h3 {
    padding: 20px;
  }

  .slider-card-label {
    bottom: -16px;
  }

  .slider-card-label span {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
  }
}

@media (min-width: 900px) {
  .slider-card-wrapper {
    margin-bottom: 0;
  }
}
