.App-info-wrapper {
  background-color: #fff;
}

.App-info-header h2 {
  margin: 0;
  padding: 20px;
}

.App-info {
  color: #000;
  margin: 0;
  padding: 20px;
  overflow: auto;
  background-color: #fff;
}

.App-info h3 {
  margin: 0;
}
