

.App-info-wrapper {
  background-color: #fff;
}

.App-info-header h2 {
  margin: 0;
  padding: 20px;
  font-family: 'VT323', sans-serif;
  font-size: 3em;
  font-weight: lighter;
}

.App-info {
  color: #000;
  margin: 0;
  padding: 20px;
  overflow: auto;
  background-color: #fff;
}
.App-info h3 {
  margin: 0;
  font-family: 'VT323', sans-serif;
  font-size: 2em;
  font-weight: lighter;
}
