.card {
  width: 33%;
  padding: 20px;
  margin: 0 10px;
  overflow: auto;
  background-color: rgb(235, 235, 235);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  border: 2px solid rgb(245, 245, 245);
}

.card:hover {
  background-color: rgba(34, 34, 34, 0.75);
}

.card:hover i {
  color: #fff;
  background-color: rgba(0, 119, 181, 0.75);
}

.card:hover h3,
.card:hover p {
  color: #fff;
}

.card i {
  color: #0077b5;
  padding: 40px;
  margin: 20px 0;
  border-radius: 50%;
  font-size: 2em;
  border: 2px solid rgb(245, 245, 245);
  background-color: #fff;
  transition: color 0.5s, background-color 0.5s;
}

.card h3 {
  margin: 0;
  transition: color 0.5s;
}

.card p {
  transition: color 0.5s;
}
