#connect-button {
  position: absolute;
  top: 25px;
  right: 20px;
}

#connect-button a {
  padding: 10px;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-shadow: 1px 1px 1px #005E9C;
  background-color: #0077b5;
  border: 1px solid #005E9C;
  border-bottom: 5px solid #005E9C;
  border-radius: 5px;
}

#connect-button a:active {
  margin-top: 4px;
  background-color: #005E9C;
  border-bottom: 1px solid #005E9C;
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.5) inset;
}

#connect-button i {
  font-size: 1.25em;
  vertical-align: middle;
  margin-right: 5px;
}
