#education {
  background-color: #fff;
}

#education section {
  padding-bottom: 40px;
}

#education header span {
  background-color: rgba(34, 34, 34, 0.75);
}

#education header h2 {
  border-color: rgba(34, 34, 34, 0.75);
}

#education header i {
  color: #0077b5;
}
