#education {
  background-color: #fff;
}

#education section {
  padding-bottom: 40px;
}

#education header span {
  background-color: rgba(34, 34, 34, 0.75);
}

#education header h2 {
  border-color: rgba(34, 34, 34, 0.75);
}

#education header i {
  color: #0077b5;
}

#education img {
  height: 100px;
  display: inline-block;
}

#education h3,
#education h4 {
  margin-top: 0;
}

#education ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
  width: auto;
}

#education .education-wrapper {
  position: relative;
  width: 33%;
  text-align: center;
  margin: 0 10px;
  margin-top: 20px;
}

#education .education-wrapper .col {
  height: 100%;
  overflow: auto;
}

#education .dual-col-list {
  font-size: 0.75em;
  list-style: none;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
  -moz-column-gap: 5px; /* Firefox */
  column-gap: 5px;
}
