#experience {
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  background-color: rgb(64, 64, 64);
  padding-bottom: 40px;
}

#experience header h2 {
  position: relative;
  border-radius: 5px;
  color: #222;
  background-color: #fff;
  display: inline-block;
  width: auto;
  margin: 0 10px;
  margin-top: 40px;
  padding: 40px 20px;
  border: 2px solid #222;
}

#experience header h2 i {
  margin-right: 5px;
  color: #0077b5;
}

#experience section {
  padding-bottom: 20px;
}

#experience .caret {
  position: absolute;
  background-color: transparent;
  padding: 0;
  bottom: -40px;
  left: 60px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #222;
}

#experience .caret-inset {
  position: relative;
  background-color: transparent;
  padding: 0;
  bottom: 3px;
  left: -37px;
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-top: 37px solid #fff;
}

#experience img {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);

  width: auto;
  height: 50px;

  transition: filter 0.5s;
}

#experience img:hover {
  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
  filter: grayscale(0%);
}
