.App-header .background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background-image: url('../images/saint_louis_arch.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  -webkit-transform: translateZ(-1px) scale(2);
  -moz-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);

  -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.App-header h1 {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #0077b5;
  font-size: 3em;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid rgba(34, 34, 34, 0.75);
}

.App header h1 span {
  color: #222222;
}
