*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
   outline: 0;
	 -moz-outline-style: none;
}

*::selection {
	color: #fff;
  background-color: rgba(0, 119, 181, 0.75);
}

html, body, #root
{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

	overflow: hidden;
}

body
{
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Lato';
	text-transform: uppercase;
}

.hidden {
	display: none;
}

#sticky {
  position: absolute;
  top: 0;
  width: 100%;
  height: 64px;
  right: 0;
  background-color: rgba(0, 119, 181, 0.75);
  z-index: 999;
}

.flexbox
{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.flexbox-item
{
  flex: 1;
}

.fill-area
{
  display: flex;
  flex-direction: row;
}

.flexbox-item.flex-row {
  flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;
}

.flexbox-item.flex-column {
  flex-direction: column;
}
