#navigation {
  position: relative;
  background-color: rgba(0, 119, 181, 0.75);
  border-bottom: 2px solid rgba(34, 34, 34, 0.75);
}

#navigation ul {
  list-style-type: none;
  padding: 0;
  max-width: 1000px;
  overflow: auto;
  text-align: center;
}

#navigation ul li {
  display: inline-block;
  padding: 0;
}

#navigation ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s, background-color 0.5s;
}

#navigation ul li.active a {
  color: #222222;
  background-color: rgba(255, 255, 255, 0.75);
}

#navigation ul li:hover a {
  color: #222222;
  background-color: rgba(255, 255, 255, 0.75);
}
