#photo-attribution {
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.75);
}

#photo-attribution a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px dotted #0077b5;
  padding: 0 2px;
  transition: background-color 0.5s;
}

#photo-attribution a:hover {
  background-color: rgba(0, 119, 181, 0.75);
}

#photo-attribution i {
  color: #0077b5;
  cursor: pointer;
}
