#projects {
  background-color: rgb(235, 235, 235);
}

#projects section {
  padding-bottom: 60px;
}

#projects header span {
  background-color: rgba(0, 119, 181, 1);
}

#projects header h2 {
  border-color: rgba(0, 119, 181, 1);
}

#projects header i {
  color: #222;
}
