#projects {
  background-color: rgb(235, 235, 235);
  padding-bottom: 40px;
}

#projects header h2 {
  position: relative;
  padding: 20px;
  text-align: center;
}

#projects header h2 span {
  background-color: rgb(235, 235, 235);
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

#projects header h2 span i {
  margin-right: 5px;
  color: #0077b5;
}

#projects header h2:before {
  content: "";
  display: block;
  border-bottom: 2px solid #222222;
  position: absolute;
  top: 50%;
  width: 80%;
  left: 10%;
  right: 10%;
}

#projects section {
  padding-bottom: 20px;
}
