.skill {
  width: 33%;
  color: #000;
  padding: 20px;
  margin: 0 10px;
  overflow: auto;
  background-color: rgb(235, 235, 235);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.skill:hover {
  background-color: rgba(34, 34, 34, 0.75);
}

.skill:hover i {
  color: #fff;
  background-color: rgba(0, 119, 181, 0.75);
}

.skill:hover h3,
.skill:hover p {
  color: #fff;
}

.skill i {
  color: #0077b5;
  padding: 40px;
  margin: 20px 0;
  border-radius: 50%;
  font-size: 2em;
  border: 2px solid rgba(34, 34, 34, 0.15);
  background-color: #fff;
  transition: color 0.5s, background-color 0.5s;
}

.skill h3 {
  margin: 0;
  transition: color 0.5s;
}

.skill p {
  transition: color 0.5s;
}
