.skill-panels {
  flex-direction: column !important;
  padding-right: 20px;
}

.panel {
  width: 100%;
  padding: 20px 10px;
  margin: 0 10px;
  overflow: auto;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  border: 2px solid rgb(245, 245, 245);
}

.panel:hover {
  background-color: rgba(34, 34, 34, 0.75);
}

.panel:first-child {
  margin-bottom: 10px;
}

.panel ul {
  margin-bottom: 0;
}

.panel:hover h3,
.panel:hover span,
.panel:hover i {
  color: #fff;
}

.panel h3 {
  text-align: center;
  margin-top: 0;
  transition: color 0.5s;
}

.panel span,
.panel i {
  transition: color 0.5s;
}

.panel ul {
  padding: 0;
  list-style-type: none;
}

.panel li {
  padding: 5px 0;
}

.panel li:last-child {
  padding-bottom: 0;
}

/* tablets portrait */
@media (min-width: 600px) {
  .skill-panels {
    flex-direction: row !important;
    padding: 0 5px;
  }

  .panel {
    padding: 20px 10px;
    margin: 0 5px;
  }

  .panel:first-child {
    margin-bottom: 0;
  }
}

/* tablets landscape */
@media (min-width: 900px) {
  .skill-panels {
    padding: 0;
  }

  .panel {
    padding: 40px 20px;
    margin: 0 10px;
  }
}
