#skills {
  background-color: #fff;
  padding-bottom: 60px;
  border-bottom: 2px solid rgb(245, 245, 245);
}

#skills section {
  padding-bottom: 20px;
}

#skills section:last-child {
  padding-bottom: 0;
}
