*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, #root
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body
{
    background: red;
    color: white;
}

.flexbox
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    background: rgba(255, 255, 255, .1);
}

.flexbox-item
{
    flex: 1; /* same as flex: 1 1 auto; */
}


.fill-area
{
    display: flex;
    flex-direction: row;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}

.fill-area-content
{
    border: 1px solid black;
    /* Needed for when the area gets squished too far and there is content that can't be displayed */
    overflow: auto;
}
.flexbox-item.flex-row {
  flex-direction: row;
  background: red;
}
.flexbox-item.flex-column {
  background: blue;
  flex-direction: column;
}
