#logo {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #fff;
  font-size: 3em;
  background-color: #222;
  border-bottom: 2px solid rgba(54, 54, 54, 0.75);
}

#logo span {
  color: #0077b5;
}
