.header-logo {
  display: inline-block;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.header-logo span {
  color: #0077b5;
}

/* tablets portrait */
@media (min-width: 600px) {
  .header-logo {
    font-size: 1.5em;
  }
}

/* tablets landscape */
@media (min-width: 900px) {
  .header-logo {
    font-size: 2em;
    padding: 15px;
  }
}

/* desktops */
@media (min-width: 1200px) {
  .header-logo {
    font-size: 3em;
    padding: 20px;
  }
}
