.menu-toggle {
  position: absolute;
  top: 7px;
  left: 10px;
  float: left;
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: inline;
  background-color: #222;
  border: none;
  outline: none;
  padding: 0;
}

.menu-bar {
  position: relative;
  float: left;
  width: 25px;
  clear: left;
  background-color: #fff;
  height: 2px;
  margin-top: 4px;
  border-radius: 2px;
  transition: background-color 0.25s;
}

.menu-toggle.animate .menu-bar {
  transition: all 0.25s;
}

.menu-toggle.animate .menu-bar.top {
  top: 6px;
  transform: rotate(45deg);
}
.menu-toggle.animate .menu-bar.middle {
  opacity: 0;
}
.menu-toggle.animate .menu-bar.bottom {
  bottom: 6px;
  transform: rotate(-45deg);
}

.menu-bar:first-child {
  margin-top: 0;
}

.menu-toggle:hover .menu-bar {
  background-color: #0077b5;
}

@media (min-width: 600px) {
  .menu-toggle {
    top: 10px;
    width: 35px;
    height: 30px;
  }

  .menu-bar {
    width: 30px;
    height: 2px;
    margin-top: 6px;
    border-radius: 2px;
  }

  .menu-toggle.animate .menu-bar.top {
    top: 8px;
    transform: rotate(45deg);
  }
  .menu-toggle.animate .menu-bar.middle {
    opacity: 0;
  }
  .menu-toggle.animate .menu-bar.bottom {
    bottom: 8px;
    transform: rotate(-45deg);
  }
}

@media (min-width: 775px) {
  .menu-toggle {
    display: none;
  }
}
