#welcome {
  position: relative;
}

#welcome div.content {
  color: #fff;
  text-align: center;
  padding: 240px 0;
  background-color: rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 2px rgba(34, 34, 34, 0.5) inset;
}
